            
.chart-holder {
    position: relative;
    width: 100%; 
    max-width: 98vw;
    max-height: 70vh;
    overflow: hidden;
}
.page {
    width: 70vw;
    height: 95vh;
}
@media screen and (max-width:1340px) {
    .page {
        width: 98vw;
    }
}

.flexbox {
   padding: 20px 20px 20px 0;
   max-width: 500px;
}
.flexbox form {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.flexbox label {
    flex: 1;
}
.flexbox input {
    width: 40px;
    display: block;
}
.button-holder {
    margin-top: 20px;
    display: flex;
}
button#line {
    background:#fff;
    color: green;
    font-weight: bold;
    border-radius: 3px;
    border: solid 1px #ddd;
    padding: 10px;
    cursor: pointer;
}
select {
    margin-top: 50px;
    margin-left: 20px;
    border-radius: 3px;
    border: solid 1px #ddd;
    color: green;
    cursor:pointer;
    font-weight: bold;
    padding: 10px;
}
textarea {
    margin-left: 20px;
    padding: 8px 5px 0;
}
body.four .purple, body.four .orange {
    display: none;
}
